/*Fuentes*/
@font-face {
    font-family: 'upheavtt';
    src: url('../fonts/upheavtt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ghost';
    src: url('../fonts/ghouls.ghosts.and.goblins-[fontvir.us].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

